<h1>Pictures</h1>

<%- @pictures.each do |picture| %> <!-- picture is a hash of the array pictures -->
	
	<h3><%= picture [:title] %></h3>
	<h4><%= picture [:artist] %></h4>
		<img src="<%= picture[:url] %>">
	</p>
<% end %>

